/* Message component */
.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--section-bg);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    text-align: center;
    max-width: 90%;
    width: 500px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-darker-gray);
    border: 2px solid transparent;
    background-clip: content-box;
}

.message__title {
    font-family: var(--font-montserrat);
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.message__text {
    font-family: var(--font-poppins);
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.message__link {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--text-color);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.3s ease;
    margin-top: 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 500;
}

.message__link:hover {
    opacity: 0.9;
}

.section__links {
    align-self: end;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 14px;
}

.section__links a {
    background: var(--theme-gr-social);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.section__links a:hover {
    opacity: 0.8;
}

@media (max-width: 876px) {
    .section__links {
        display: none;
    }
}

/* Language buttons */
.header__languages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__btn {
    background: none;
    border: none;
    font-family: var(--font-courier);
    font-size: 14px;
    color: var(--color-text-gray);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__btn:hover {
    opacity: 0.9;
}

.header__btn.active {
    font-weight: bold;
} 